.header .max_width {
  box-sizing: border-box;
  padding: 0 72px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header h1 {
  font-size: 72px;
}

.main .max_width {
  box-sizing: border-box;
  padding: 72px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer .max_width {
  box-sizing: border-box;
  padding: 0 72px;
}
