.header .max_width {
  box-sizing: border-box;
  padding: 0 72px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header h1 {
  font-size: 72px;
}

.main .max_width {
  box-sizing: border-box;
  padding: 64px 16px 0 16px;
}

#content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.footer .max_width {
  box-sizing: border-box;
  padding: 0 72px;
}

.pokemon_names {
  display: none;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
}

.pokemon_names li {
  margin-top: 4px;
  margin-left: 16px;
}

.pokemon_names li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 550;
}

.renderMorePokemons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.morePokemonsButton {
  background: #3761a8;
  color: #feca1b;
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
}