input {
  height: 32px;
  border-radius: 8px;
  padding: 0 16px;
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 500;
  outline: 0;
  border: 2px solid #2f2f2f;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 6px solid #ffffff;
  border-radius: 50%;
}

.o {
  width: 8px;
  height: 8px;
  border: 6px solid #ffffff;
  border-radius: 50%;
}

.slash_left {
  width: 14px;
  height: 6px;
  background-color: #fff;
}

.slash_right {
  width: 14px;
  height: 6px;
  background-color: #fff;
}

#closeButton {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 0;
  color: #2f2f2f;
}

/* loadingball (https://codepen.io/sr1s/pen/wvXpzyX) */
:root {
  --color: #2f2f2f00;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
}

.pkm_ball_loading {
  width: 150px;
  height: 150px;
  background: linear-gradient(#cb0905 50%, #ffffff 50%);
  border-radius: 9999px;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 6%;
  grid-column-gap: 0%;
}

.pkm_ball_loading::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: 
    radial-gradient(rgb(0, 0, 0) 15%, var(--color) 15%, var(--color) 22%, transparent 22%),
    linear-gradient(transparent 46%, var(--color) 46%, var(--color) 54%, transparent 54%);
}

.pkm_ball_loading > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.pkm_ball_loading > div::before {
  content: "";
  width: 200%;
  height: 200%;
  background: var(--color);
}

.pkm_ball_loading > div:nth-child(1)::before {
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
  transform: rotate(-45deg);
}

.pkm_ball_loading > div:nth-child(2)::before {
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.pkm_ball_loading > div:nth-child(3)::before {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
  transform: rotate(45deg);
}

.pkm_ball_loading > div:nth-child(4)::before {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: rotate(-45deg);
}

.pkm_ball_loading {
  animation: rotate-clockwise-360 3s linear infinite;
}

.pkm_ball_loading > div:nth-child(1)::before,
.pkm_ball_loading > div:nth-child(4)::before {
  animation: rotate-anticlockwise-90 1.8s linear infinite;
}

.pkm_ball_loading > div:nth-child(2)::before,
.pkm_ball_loading > div:nth-child(3)::before {
  animation: rotate-clockwise-90 1.8s linear infinite;
}

@keyframes rotate-clockwise-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-clockwise-90 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-anticlockwise-90 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Arrows */

/* From Uiverse.io by Nawsome */ 
.arrow_right {
  cursor: pointer;
  height: 60px;
  right: -16px;
  position: absolute;
  top: 42%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 50px;
  scale: 0.5;
}

.arrow_left {
  cursor: pointer;
  height: 60px;
  left: -4px;
  position: absolute;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 50px;
  scale: 0.5;
  transform: scale(-1, 1)
}

.arrow-top, .arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after, .arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow_right:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow_right:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow_right:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

.arrow_left:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow_left:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow_left:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}