#detailedPokemonCard {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 340px;
  height: 600px;
  border-radius: 16px;
  border: 0px;
  box-shadow: 0px 0px 12px #ffffffaa;
}

.detailedCard {
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 16px;
  box-sizing: border-box;
}

.upperCardSpace {
  padding: 16px;
}

.upperCardSpace header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeCard {
  font-size: 24px;
  color: #666666;
  background: none;
  border: none;
}

#closeCard:hover {
  cursor: pointer;
  color: #ffffffa0;
}

#closeCard:active {
  scale: 0.8;
}

.detailedCard h1 {
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 5px #000000;
}

.imageSpace {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 16px;
}

.detailedCard img {
  width: 200px;
  height: 200px;
}

.detailSpace {
  height: 292px;
  background: #ffffff71;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navDetails {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.navDetails button {
  border: none;
  padding: 4px;
  color: #fff;
  background: none;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 0 4px #000000;
  border-radius: 8px;
}

.navDetails button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

#genDetails {
  display: flex;
  height: 100%;
  padding: 0 16px;
  font-size: 24px;
  color:#fff
}

th {
  text-align: left;
  width: 90px;
  height: 24px;
  color: #303030;
  font-size: 16px;
  font-weight: 700;
}

td {
  text-align: left;
  width: 45px;
  height: 24px;
  color: #303030;
  font-size: 16px;
  font-weight: 555;
}

#beamHP,
#beamAttack,
#beamDef,
#beamSpAtk,
#beamSpDef,
#beamSpeed {
  width: 150px;
  height: 8px;
  background: #1ec500;
  border-radius: 6px;
  box-shadow: 0 0 1px #000000;
}

.evolutionSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.evolutionSpace h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 5px #000000;
}

.evolutionSpace img {
  width: 100px;
  height: 100px;
}

#evoOneSpace,
#evoTwoSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#evoThreeSpace {
  display: flex;
  flex-direction: column;
  align-items: center;
}