@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Black.ttf') format('truetype');
  src: url('../assets/fonts/Lato-BlackItalic.ttf') format('truetype');
  src: url('../assets/fonts/Lato-Bold.ttf') format('truetype');
  src: url('../assets/fonts/Lato-BoldItalic.ttf') format('truetype');
  src: url('../assets/fonts/Lato-Italic.ttf') format('truetype');
  src: url('../assets/fonts/Lato-Light.ttf') format('truetype');
  src: url('../assets/fonts/Lato-LightItalic.ttf') format('truetype');
  src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
  src: url('../assets/fonts/Lato-Thin.ttf') format('truetype');
  src: url('../assets/fonts/Lato-ThinItalic.ttf') format('truetype');
}