@media (max-width: 1091px) {
  .header .max_width {
    padding: 0 24px;
  }
}

@media (max-width: 650px) {
  .header {
    height: 150px;
  }

  .max_width {
    width: 100%;
  }

  .header .max_width {
    position: absolute;
    top: -10px;
    padding: 16px 24px;
    flex-direction: column;
    align-items: center;
  }

  #content {
    gap: 12px;
  }

  .logo {
    scale: 0.7;
  }

  .main .max_width {
    padding: 8px 0;
  }

  .card {
    width: 250px;
    gap: 8px;
  }

  .card figure {
    gap: 20px;
  }
}

@media (max-width: 400px) {
  #detailedPokemonCard {
    height: 550px;
  }

  .evolutionSpace h2 {
    font-size: 18px;
  }
}