* {
  margin: 0;
  color: #fdc81a;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  height: 100px;
  background: #ef5350;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  flex: 1;
  background: #2f2f2f;
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 100px;
  background: #ef5350;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max_width {
  width: 1440px;
}